.user-image{
    height: 150px;
    /* width: 171px;
    object-fit: cover; */
   }

.welcome {
    text-align: center;
    margin-bottom: 50px;
}

.action-btn {
    display: flex;
    flex-direction: column;
}
.action {
    margin: 20px;
}

.profile-btn {
    text-align: left;

}