
.main-content {

    background-image: url('./Pictures/big-gift.jpg');
    background-repeat: 'no-repeat';
    background-size: cover;
    background-position: center;
    height: 700px;
}

.main-text {

margin-top: 200px;
text-align: justify;
line-height: 30px;
}

.main-info {
width: 500px
}

.btn-registro {
    padding: 10px 30px;
    font-size: 22px;
    font-weight: 400;
}

.features {
    background-color: #F6F5F5;
    height: 600px;
    text-align: center;
    }

.features col {
    text-align: center;
}

.icon {
    color: #ee6f57;
    margin-bottom: 20px;
    display: block;
 
       }

.feature-title2 {
    margin: 30px 0 80px;
    font-weight: 700;
    font-size: 50px;
}

.feature-title3 {
    font-weight: 500;
    font-size: 40px;  
}

.feature-text {
   font-size: 20px;   
}

.btn-more {
   color: #F6F5F5;
   background-color: #145374;
   margin-top: 40px;
   padding: 10px 25px;
   font-size: 20px;
}

.about {
    background-color: #145374;
    height: 400px;
    color: #F6F5F5;
}

.about-title{
    margin: 50px 0 80px;
    font-weight: 700;
    font-size: 50px;
  }

.btn-about {
   background-color: #F6F5F5;
   color: #145374;
   margin-top: 40px;
   padding: 10px 25px;
   font-size: 20px;
}

.about-icon {
   border-radius: 50%;
   border: 8px solid #F6F5F5;
   padding: 80px;
   text-align: center;
   margin-top: 35px;
}